.container {
  display: block;
  justify-content: center;
  align-items: center;
}
.first {
  height: 250px;
  color: black;
  text-align: center;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  justify-content: center;
}
.stream {
  margin: 0 5px;
  background-color: white;
  color: purple;
  height: 200px;
  width: 200px;
  border-radius: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 9px 16px 15px grey;
  position: relative; /* Add position relative for the ::before pseudo-element */

  /* Add inner shadow */
  &::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    background: linear-gradient(to bottom right, #f7f4f41a, rgba(0, 0, 0, 0.1));
    z-index: 0;
    border-radius: 26px; /* Adjust the border-radius to match your card's border-radius */
  }
}

.item {
  display: block;
  justify-content: space-between;
  align-items: center;
  font-size: 50px;
}

/* AdminDashboard.css */

.item {
  transition: transform 0.2s; /* Add a smooth transition effect */
}

.item:hover {
  transform: scale(1.1); /* Scale up the item on hover */
}
/* AdminDashboard.css */

.item {
  perspective: 1000px; /* Add perspective to create the 3D effect */

  .flip-card {
    width: 250px;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s; /* Add a transition effect for the flip */

    .flip-card-inner {
      width: 100%;
      height: 100%;
      transition: transform 0.5s; /* Add a transition effect for the inner card flip */
      transform-style: preserve-3d;
    }

    .flip-card-front,
    .flip-card-back {
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: font-size 0.8s;
    }

    .flip-card-front {
      background-color: transparent;
      transform: rotateY(0deg);
      display: block; /* Initial state: facing front */
    }

    .flip-card-back {
      background-color: transparent;
      transform: rotateY(180deg); /* Initial state: facing back, hidden */
      p {
        text-align: center;
      }
    }
    .flip-card-back p {
      font-size: 12px;
      width: 200px;
      font-weight: bold;
    }
  }

  &:hover .flip-card {
    transform: rotateY(180deg); /* Flip the card on hover */
  }
  &:hover .flip-card-front {
    font-size: 0.8rem; /* Reduce the font size on hover */
  }
}

.second {
  height: 350px;
  width: 100%;
  color: black;
  background-color: transparent;
  text-align: center;
  border-radius: 10px;
  margin: 0 5px;
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.linediagram {
  padding: 25px;
  height: 100%;
}
.pie {
  padding: 25px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Add these styles to your existing CSS file */
.pie-container {
  position: relative;
}

.pie-3d-effect {
  position: absolute;
  top: -10px;
  right: 5px;
  bottom: -12px;
  left: 0;
  background: radial-gradient(ellipse at center, #1111114a 0%, #fff 100%);
  border-radius: 23px;
  z-index: 0;
  border: 3px solid #f7ecec;
  box-shadow: -9px 12px 45px 2px grey;
}

@media screen and (max-width: 1920px) {
}
@media screen and (max-width: 1020px) {
}
@media screen and (max-width: 920px) {
}
@media screen and (max-width: 845px) {
  .pie-container {
    position: relative;
    height: 52%;
    width: 55%;
  }
  .stream {
    margin: 0 5px;
    background-color: white;
    color: purple;
    height: 180px;
    width: 180px;
    border-radius: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 9px 16px 15px grey;
    position: relative;
  }
}
@media screen and (max-width: 740px) {
  .stream {
    margin: 0 5px;
    background-color: white;
    color: purple;
    height: 160px;
    width: 160px;
    border-radius: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 9px 16px 15px grey;
    position: relative;
  }
  .right-side {
    background-color: #ebdbef;
    color: purple;
    width: 81%;
    border-radius: 10px;
  }
  .pie-container {
    position: relative;
    height: 52%;
    width: 56%;
  }
}
@media screen and (max-width: 712px) {
  .right-side {
    background-color: #ebdbef;
    color: purple;
    width: 85%;
    border-radius: 10px;
  }
  .pie-container {
    /* position: relative; */
    height: 57%;
    width: 57%;
  }
}
@media screen and (max-width: 650px) {
  .right-side {
    background-color: #ebdbef;
    color: purple;
    width: 85%;
    border-radius: 10px;
  }
}
@media screen and (max-width: 620px) {
  .stream {
    margin: 0 5px;
    background-color: white;
    color: purple;
    height: 140px;
    width: 140px;
    border-radius: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 9px 16px 15px grey;
    position: relative;
  }
  .item {
    display: flex;
    justify-content: column;
    align-items: center;
    margin-top: 22px;
    font-size: 35px;
  }
}
@media screen and (max-width: 595px) {
  .right-side {
    background-color: #ebdbef;
    color: purple;
    width: 91%;
    border-radius: 10px;
  }
  .stream {
    margin: 0 5px;
    background-color: white;
    color: purple;
    height: 140px;
    width: 140px;
    border-radius: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 9px 16px 15px grey;
    position: relative;
  }
  .item {
    display: flex;
    justify-content: column;
    align-items: center;
    margin-top: 22px;
    font-size: 35px;
  }
  .pie-container {
    height: 57%;
    width: 64%;
  }
}
@media screen and (max-width: 575px) {
  .right-side {
    background-color: #ebdbef;
    color: purple;
    width: 95%;
    border-radius: 10px;
  }
  .stream {
    margin: 0 5px;
    background-color: white;
    color: purple;
    height: 140px;
    width: 140px;
    border-radius: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 9px 16px 15px grey;
    position: relative;
  }
  .item {
    display: flex;
    justify-content: column;
    align-items: center;
    margin-top: 22px;
    font-size: 35px;
  }
  .pie-container {
    height: 57%;
    width: 64%;
  }
}
@media screen and (max-width: 550px) {
  .pie-container {
    height: 56%;
    width: 55%;
  }
  .right-side {
    background-color: #ebdbef;
    color: purple;
    width: 95%;
    border-radius: 10px;
  }
}
@media screen and (max-width: 530px) {
  .first{
    flex-direction: column;
  }
}
