* {
  font-weight: lighter;
  font-family: cursive;
}
body {
  background: url("../image/AboutBackground.png") fixed; /* Set the background image for the body and make it fixed */
  background-size: cover;
  background-repeat: no-repeat;
}
.floating-image-active {
  transform: translateY(-10px) rotateX(45deg);
}

.guestbody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.hero-guest1 {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-guest1 img {
  width: 100%;
}
.hero-guest2 {
  width: 40%;
}
.text-guest {
  display: block;
  text-align: center;
  width: 100%;
}
.text-guest h3 {
  font-weight: bold;
  font-size: 40px;
}
.text-guest p {
  text-align: center;
  padding: 20px;
  font-size: 25px;
  margin-bottom: 0;
  font-weight: bold;
}

.guest-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.guest-logo img {
  width: 150px;
  height: 150px;
  margin: 25px;
}
.guest-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.guest-footer h4 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 25px;
}
.guest_about {
  height: 100vh;
  margin-top: 162px;
}
.guest-heading {
  margin-top: 146px;
  text-align: center;
  font-size: 45px;
  padding-top: 90px;
}
.guest-heading-contact {
  font-size: 45px;
  padding-top: 20px;
}
.guest-about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -100px;
}
.firstdiv {
  width: 30%;
  height: 50%;
  padding: 25px;
  margin: 20px;
  box-shadow: 5px 5px 10px purple;
  display: block;
  text-align: center;
  border-radius: 15px;
}
.seconddiv {
  width: 30%;
  height: 50%;
  padding: 25px;
  margin: 20px;
  box-shadow: 5px 5px 10px purple;
  display: block;
  text-align: center;
  border-radius: 15px;
}
.thirddiv {
  width: 30%;
  padding: 25px;
  height: 50%;
  margin: 20px;
  box-shadow: 5px 5px 10px purple;
  display: block;
  text-align: center;
  border-radius: 15px;
}
/* Style the contact container */
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 40px; */
  /* margin-top: 25px; */
}
.contact-image {
  flex: 46%;
  text-align: center;
}

.contact-image img {
  width: 77%;
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  height: auto;
  margin-top: 85px;
}

.guest-contact {
  flex: 40%; /* Form takes 40% of the container width */
  padding: 8px; /* Add padding to create some spacing */
  text-align: center;
  box-shadow: 5px 5px 10px purple;
  margin: 40px;
  border-radius: 15px;
}
.guest-form {
  margin: 20px;
  padding: 25px;
  text-align: center;
}

.guest-input {
  /* Style for input elements */
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid blue;
}

.guest-input-msg {
  /* Style for the message input */
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid blue;
}

.submit-guest {
  /* Style for the submit button */
  /* background-color: #0074d9; */
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: purple;
  border-radius: 10px;
}
.flipped {
  transform: scaleX(-1);
}
.flipped img {
  width: 80%;
}
.firstdiv,
.seconddiv,
.thirddiv {
  transition: background-color 0.3s, color 0.3s;
}

.firstdiv:hover,
.seconddiv:hover,
.thirddiv:hover {
  background-color: purple;
  transition: background-color 0.3s ease;
  color: white;
  box-shadow: none;
  cursor: pointer;
}

.team {
  width: 27%;
  height: 50%;
  padding: 25px;
  margin: 20px;
  box-shadow: 5px 5px 10px purple;
  display: block;
  text-align: center;
  border-radius: 15px;
}

.team:hover {
  background-color: purple;
  transition: background-color 0.3s ease;
  color: white;
  box-shadow: none;
  cursor: pointer;
}
.team {
  transition: background-color 0.3s, color 0.3s;
}

@media screen and (max-width: 1920px) {
  .guest-logo img {
    width: 100px;
    height: 100px;
  }
  .text-guest p {
    text-align: center;
    padding: 20px;
    font-size: 22px;
    margin-bottom: 0;
    font-weight: bold;
  }
  .text-guest h3 {
    font-weight: bold;
    font-size: 38px;
  }
  .firstdiv {
    font-size: 15px;
  }
  .firstdiv .title {
    font-size: 20px;
  }
  .seconddiv {
    font-size: 15px;
  }
  .seconddiv .title {
    font-size: 20px;
  }
  .thirddiv {
    font-size: 15px;
  }
  .thirddiv .title {
    font-size: 20px;
  }
}
@media screen and (max-width: 1076px) {
  .firstdiv {
    font-size: 14px;
  }
  .firstdiv .title {
    font-size: 18px;
  }
  .seconddiv {
    font-size: 14px;
  }
  .seconddiv .title {
    font-size: 18px;
  }
  .thirddiv {
    font-size: 14px;
  }
  .thirddiv .title {
    font-size: 18px;
  }
}
@media screen and (max-width: 965px) {
  .firstdiv {
    font-size: 13px;
  }
  .firstdiv .title {
    font-size: 17px;
  }
  .seconddiv {
    font-size: 13px;
  }
  .seconddiv .title {
    font-size: 17px;
  }
  .thirddiv {
    font-size: 13px;
  }
  .thirddiv .title {
    font-size: 17px;
  }
}

@media screen and (max-width: 912px) {
  .guest-logo img {
    width: 100px;
    height: 100px;
  }
  .text-guest p {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 0;
    font-weight: bold;
  }
  .text-guest h3 {
    font-weight: bold;
    font-size: 38px;
  }
  .firstdiv {
    font-size: 13px;
  }
  .firstdiv .title {
    font-size: 17px;
  }
  .seconddiv {
    font-size: 13px;
  }
  .seconddiv .title {
    font-size: 17px;
  }
  .thirddiv {
    font-size: 13px;
  }
  .thirddiv .title {
    font-size: 17px;
  }
}
@media screen and (max-width: 890px) {
  .firstdiv {
    font-size: 12px;
  }
  .firstdiv .title {
    font-size: 16px;
  }
  .seconddiv {
    font-size: 12px;
  }
  .seconddiv .title {
    font-size: 16px;
  }
  .thirddiv {
    font-size: 12px;
  }
  .thirddiv .title {
    font-size: 16px;
  }
}

@media screen and (max-width: 842px) {
  .guest-logo img {
    width: 100px;
    height: 100px;
  }
  .text-guest p {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    margin-bottom: 0;
    font-weight: bold;
  }
  .text-guest h3 {
    font-weight: bold;
    font-size: 34px;
    padding: 10px;
  }
}
@media screen and (max-width: 785px) {
  .firstdiv {
    font-size: 11px;
  }
  .firstdiv .title {
    font-size: 15px;
  }
  .seconddiv {
    font-size: 11px;
  }
  .seconddiv .title {
    font-size: 15px;
  }
  .thirddiv {
    font-size: 11px;
  }
  .thirddiv .title {
    font-size: 15px;
  }
}
@media screen and (max-width: 750px) {
  .guest-logo img {
    width: 95px;
    height: 95px;
  }
  .text-guest p {
    text-align: center;
    padding: 20px;
    font-size: 17px;
    margin-bottom: 0;
    font-weight: bold;
  }
  .text-guest h3 {
    font-weight: bold;
    font-size: 30px;
  }
}
@media screen and (max-width: 735px) {
  .firstdiv {
    font-size: 10px;
  }
  .firstdiv .title {
    font-size: 14px;
  }
  .seconddiv {
    font-size: 10px;
  }
  .seconddiv .title {
    font-size: 14px;
  }
  .thirddiv {
    font-size: 10px;
  }
  .thirddiv .title {
    font-size: 14px;
  }
}
@media screen and (max-width: 710px) {
  .guest-logo img {
    width: 95px;
    height: 95px;
  }
  .text-guest p {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    margin-bottom: 0;
    font-weight: bold;
  }
  .text-guest h3 {
    font-weight: bold;
    font-size: 32px;
    padding: 8px;
  }
}
@media screen and (max-width: 680px) {
  .guest-logo img {
    width: 95px;
    height: 95px;
  }
  .text-guest p {
    text-align: center;
    padding: 20px;
    font-size: 15px;
    margin-bottom: 0;
    font-weight: bold;
  }
  .text-guest h3 {
    font-weight: bold;
    font-size: 30px;
    padding: 8px;
  }
}
@media screen and (max-width: 656px) {
  .firstdiv {
    font-size: 11px;
    height: 60%;
  }
  .firstdiv .title {
    font-size: 13px;
  }
  .seconddiv {
    font-size: 11px;
    height: 60%;
  }
  .seconddiv .title {
    font-size: 13px;
  }
  .thirddiv {
    font-size: 11px;
    height: 60%;
  }
  .thirddiv .title {
    font-size: 13px;
  }
}
@media screen and (max-width: 635px) {
  .guest-logo img {
    width: 90px;
    height: 90px;
  }
  .text-guest p {
    text-align: center;
    padding: 13px;
    font-size: 13px;
    margin-bottom: 0;
    font-weight: bold;
  }
  .text-guest h3 {
    font-weight: bold;
    font-size: 28px;
    padding: 8px;
  }
  .firstdiv {
    font-size: 10px;
    height: 58%;
  }
  .seconddiv {
    font-size: 10px;
    height: 58%;
  }
  .thirddiv {
    font-size: 10px;
    height: 58%;
  }
  .contact-image img {
    display: none;
  }
  .contact-image {
    flex: 0% 1;
    text-align: center;
  }
  .guest-contact {
    flex: 94% 1;
  }
  .guest-heading {
    margin-top: -224px;
    text-align: center;
    font-size: 45px;
    padding-top: 90px;
  }
}
@media screen and (max-width: 585px) {
  .guest-logo img {
    width: 90px;
    height: 90px;
  }
  .text-guest p {
    text-align: center;
    padding: 11px;
    font-size: 13px;
    margin-bottom: 0;
    font-weight: bold;
  }
  .text-guest h3 {
    font-weight: bold;
    font-size: 27px;
    padding: 8px;
  }
  .firstdiv {
    font-size: 10px;
    height: 64%;
  }
  .seconddiv {
    font-size: 10px;
    height: 64%;
  }
  .thirddiv {
    font-size: 10px;
    height: 64%;
  }
  .guest_about {
    height: 100vh;
    margin-top: -198px;
  }
  .guest-heading {
    margin-top: 130px;
    text-align: center;
    font-size: 45px;
    padding-top: 90px;
  }

  /* .firstdiv {
    font-size: 14px;
    width: 76%;
  }
  .firstdiv .title {
    font-size: 12px;
  }
  .seconddiv {
    font-size: 14px;
    width: 76%;
  }
  .seconddiv .title {
    font-size: 12px;
  }
  .thirddiv {
    font-size: 14px;
    width: 76%;
  }
  .thirddiv .title {
    font-size: 12px;
  } */
}
@media screen and (max-width: 525px) {
  .guestbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 115vh;
    width: 113%;
  }
  .hero-guest1 img {
    display: none;
  }
  .guest-logo img {
    width: 90px;
    height: 90px;
  }
  .text-guest p {
    text-align: center;
    padding: 9px;
    font-size: 13px;
    margin-bottom: 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text-guest h3 {
    font-weight: bold;
    font-size: 26px;
    padding: 8px;
  }
  .guest-about {
    flex-direction: column;
    margin-top: 178px;
  }
  .guest-heading {
    margin-top: -121px;
    text-align: center;
    font-size: 45px;
  }
  .hero-guest1 img {
    display: none;
  }
  .guest-logo img {
    width: 90px;
    height: 90px;
  }
  .text-guest p {
    padding: 7px;
    font-size: 20px;
    width: 100%;
    margin-bottom: 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text-guest h3 {
    font-weight: bold;
    font-size: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-guest2 {
    width: 82%;
    height: 121%;
    margin-top: -289px;
  }
  .guest_about {
    height: 100vh;
    margin-top: 50px;
    width: 113vw;
  }
  .firstdiv {
    font-size: 14px;
    width: 76%;
  }
  .firstdiv .title {
    font-size: 24px;
  }
  .seconddiv {
    font-size: 14px;
    width: 76%;
  }
  .seconddiv .title {
    font-size: 24px;
  }
  .thirddiv {
    font-size: 14px;
    width: 76%;
  }
  .thirddiv .title {
    font-size: 24px;
  }
  .contact-container {
    margin-top: 207px;
  }
}
@media screen and (max-width: 496px) {
  .guestbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 115vh;
    width: 113%;
  }

  .hero-guest1 img {
    display: none;
  }
  .guest-logo img {
    width: 90px;
    height: 90px;
  }
  .text-guest p {
    padding: 7px;
    font-size: 20px;
    width: 100%;
    margin-bottom: 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text-guest h3 {
    font-weight: bold;
    font-size: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-guest2 {
    width: 82%;
    height: 121%;
    margin-top: -289px;
  }
}
@media screen and (max-width: 460px) {
  .guestbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 115vh;
    width: 113%;
  }
  .hero-guest1 img {
    display: none;
  }
  .guest-logo img {
    width: 90px;
    height: 90px;
  }
  .text-guest p {
    padding: 7px;
    font-size: 20px;
    width: 100%;
    margin-bottom: 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text-guest h3 {
    font-weight: bold;
    font-size: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-guest2 {
    width: 82%;
    height: 121%;
    margin-top: -289px;
  }
  .guest-about {
    flex-direction: column;
    margin-top: 206px;
  }
}
@media screen and (max-width: 380px) {
  .guest_about {
    height: 100vh;
    margin-top: 71px;
    width: 121vw;
  }
  .guest-about {
    flex-direction: column;
    margin-top: 247px;
  }
}
@media screen and (max-width: 360px) {
  .guestbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 119vh;
    width: 116%;
  }
  .hero-guest1 img {
    display: none;
  }
  .guest-logo img {
    width: 90px;
    height: 90px;
  }
  .text-guest p {
    padding: 7px;
    font-size: 20px;
    width: 100%;
    margin-bottom: 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text-guest h3 {
    font-weight: bold;
    font-size: 36px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-guest2 {
    width: 82%;
    height: 121%;
    margin-top: -289px;
  }
  .firstdiv {
    font-size: 13px;
    width: 76%;
  }
  .seconddiv {
    font-size: 13px;
    width: 76%;
  }
  .thirddiv {
    font-size: 13px;
    width: 76%;
  }
}
@media screen and (max-width: 330px) {
  .guestbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 119vh;
    width: 120%;
  }
  .guest-about {
    flex-direction: column;
    margin-top: 275px;
  }
  .contact-container {
    margin-top: 321px;
  }
}
@media screen and (max-width: 300px) {
  .guestbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
    width: 120%;
  }
}
@media screen and (max-width: 280px) {
  .guestbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
    width: 120%;
  }
  .guest-about {
    flex-direction: column;
    margin-top: 322px;
  }
}
@media screen and (max-width: 260px) {
  .guestbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
    width: 120%;
  }
}
@media screen and (max-width: 220px) {
  .guestbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
    width: 120%;
  }
}
